<%- include("header") -%>

    <h2>This is the about page</h2>

    <p>This web appliaction can be used for making list of our daily tasks so that we may not forget any of them. </p>

<%- include("footer") -%>